 .container {
 	margin: 0 auto;
 	border: 1px solid white;
 	width: 1000px;
 }
 .a1 {
 	border: 1px solid blue;
 	background: blue;
 	width: 99.8%;
 	height: 100px;
 	margin-bottom: 15px;
 	float: left;
 }
 .a2 {
 	border: 1px solid green;
 	background: green;
 	width: 25%;
 	height: 500px;
 	margin-top: 15px;
 	margin-right: 15px;
 	float: left;
 }
 .a3 {
 	border: 1px solid pink;
 	background: pink;
 	width: 50%;
 	height: 500px;
 	margin-right: 15px;
 	margin-top: 15px;
 	float: left;
 }
 .a4 {
 	border: 1px solid orange;
 	background: orange;
 	width: 21.4%;
 	height: 500px;
 	margin-top: 15px;
 	float: left;
 }
 @media screen and (max-width: 768px) {
 	.container {
 		margin: 0 auto;
 		border: 1px solid white;
 		width: 768px;
 	}
 	.a1 {
 		border: 1px solid blue;
 		background: blue;
 		width: 99.8%;
 		height: 100px;
 		margin-bottom: 15px;
 		float: left;

 	}
 	.a2 {
 		border: 1px solid green;
 		background: green;
 		width: 99.8%;
 		height: 200px;
 		margin-top: 15px;
 		float: left;
 	}
   
 	.a3 {
 		border: 1px solid pink;
 		background: pink;
 		width: 55%;
 		height: 500px;
 		margin-top: 15px;
 		margin-right: 15px;
 		float: left;
 	}
 	.a4 {
 		border: 1px solid orange;
 		background: orange;
 		width: 41.8%;
 		height: 500px;
 		margin-top: 15px;
 		float: left;
 	}
 }
 @media screen and (max-width: 480px) {
 	.container {
 		margin: 0 auto;
 		border: 1px solid white;
 		width: 480px;
 	}
 	.a1 {
 		border: 1px solid blue;
 		background: blue;
 		height: 100px;
 		width: 99.8%;
 		float: left;
 		margin-bottom: 15px;
 	}
 	.a2 {
 		border: 1px solid green;
 		background: green;
 		height: 100px;
 		width: 99.8%;
 		margin-top: 15px;
 		float: left;
 	}
 	.a3 {
 		border: 1px solid pink;
 		background: pink;
 		height: 100px;
 		width: 99.8%;
 		margin-top: 15px;
 		margin-right: 15px;
 		float: left;
 	}
 	.a4 {
 		display: none;
 	}
 }
