.container {
	border: 1px solid white;
	margin: 0 auto;
	width: 768px;
}
.block1 {
	border: 1px solid orange;
	height: 200px;
	width: 714px;
	margin-bottom: 3px;
	margin-right: 3px;
	background: orange;
	float: left;
}
.block2 {
	border: 1px solid orange;
	width: 253px;
	background: orange;
	margin-right: 3px;
	height: 253px;
	float: left;
	margin-bottom: 3px;
}
.block3, .block6, .block7, .block8, .block9 {
	border: 1px solid orange;
	width: 163px;
	height: 60px;
	margin-right: 3px;
	margin-bottom: 3px;
	background: orange;
	float: left;
}
.block4, .block5 {
	border: 1px solid orange;
	width: 288px;
	height: 60px;
	margin-right: 3px;
	margin-bottom: 3px;
	float: left;
	background: orange;
}
.block10 {
	border: 1px solid orange;
	width: 457px;
	height: 60px;
	margin-bottom: 3px;
	margin-right: 3px;
	float: left;
	background: orange;
}